<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/scripts/signup.js" defer></script>
</head>
<body>
  <%- include('./partials/root-header.ejs') %>
  <article>
    
    <% if (locals.currentUser) {%>  
      <h1>Welcome Back!</h1>
      <a href="/home">Go to your home page</a>
      <a href="/logout">Or log out</a>
    <% } else { %>
      <h2><%= title %></h2>
      <div class="errorBox">
        <%- include('partials/errors.ejs') %>
      </div>
      <form action="/" method="post" name="signupform"
          id="signupform" class="common-form">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" id="firstname" required>
        <span id="firstnameError" aria-live="polite" class="error"></span>

        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" id="lastname" required>
        <span id="lastnameError" aria-live="polite" class="error"></span>

        <label for="username">Email:</label>
        <input type="email" name="username" id="username" required>
        <span id="usernameError" aria-live="polite" class="error"></span>

        <p class="formp">Password must be 10-20 characters, and contain at least one uppercase, lowercase, numeral and symbol character.</p>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,20}$" required>
        <span id="passwordError" aria-live="polite" class="error"></span>

        <label for="confirmPW">Confirm Password:</label>
        <input type="password" name="confirmPW" id="confirmPW" required>
        <span id="confirmPWError" aria-live="polite" class="error"></span>

        <button type="submit">Sign Up</button>
      </form>
      <p>Already have an account? Proceed to <a href="/login">Login</a></p>
    <% } %>
  </article>
  <%- include('./partials/footer.ejs') %>
</body>
</html>